@media only screen and (min-width: 800px){

    .barraNav{
        width: 100%;
        background: blueviolet;
        color: white;
        margin: 0;
    }

    .perfil-pict{
        padding-left: 10px;
        padding-top: 1%;
        padding-right: 0;
        padding-bottom: 1%;
        margin: 0;
    }

    #foto-usuario{
        width: 50px;
        height: 50px;
        border-radius: 100%;
    }

    .perfil-usr{
        padding-top: 1.5%;
    }

    .profile-userpic{ 
        width: 100%;
    }

    .secciones-menu{
        width: 100%;
    }

    .well{
        padding: 0;
    }

    .portada{
        width: 100%;
        margin-top: 0;
    }

    .text{
        margin-top: 0;
        height: 75px;
        background: #f5f5f5;
    }

    .text h1{
        margin-top: 10px;
        background: #f5f5f5;
    }

    .contenedor-body{
        padding-left: 0;
        padding-right: 0;
    }

    .sector-contenido{
        height: 100%;
        background: #28284e;
    }

    .sector-contenido .spn-ext{
        color: white;
        padding-left: 47%;
    }

    .sector-contenido .seccion-code{
        padding: 0;
        color: white;
    } 

    .sector-contenido .btn-plantilla-html{
        margin-left: 5%;
    }

    .sector-contenido .seccion-resultado{
        padding: 0;
        padding-top: 5%;
        padding-bottom: 5%;
    }

    .sector-contenido .seccion-resultado span{
        padding-left: 47%;
    }

    .sector-contenido .resultado{
        background: white;
        border: blueviolet 1px solid;
        width: 100%;
        padding-left: 1%;
        box-sizing: border-box;
    }

    #menu-grande{
        display: block;
    }

    #menu-pequeño{
        display: none;
    }
}

@media only screen and (max-width: 800px){

    #menu-grande{
        display: none;
    }

    #menu-pequeño{
        display: block;
    }

    .control-menu{
        padding-top: 0;
        padding-left: 85%;
    }

    .control-menu img{
        width: 40px;
        height: 60px;
    }

    .items{
        padding: 0;
        margin: 0;
    }
    
    #navigation:target .nav-items{
        height: 158px;
        transition: height 0.4s ease-in-out 0s, background-color 0.9s ease 0s;
    }
    
    #navigation:target .open{
        display: none;
    }
    #navigation:target .close{
        display: block;
    }

    ul.nav-items{
        background: #41275a;
        list-style: none;
        clear: both;
        height: 0;
        overflow: hidden;
        transition: height 0.4s ease-in-out 0s, background-color 2s ease 0s;
    }

    ul.nav-item:hover{
        background: #7a26c9;
    }
    
    .close{
        display: none;
    }

    .barraNav{
        width: 100%;
        background: blueviolet;
        color: white;
        margin: 0;
    }

    .perfil-usr{
        padding-left: 3%;
        padding-top: 3%;
    }

    .profile-userpic{ 
        width: 100%;
    }

    .secciones-menu{
        width: 100%;
    }

    .well{
        height: 5%;
        padding: 0;
    }

    .portada{
        width: 100%;
        margin-top: 0;
    }

    .text{
        margin-top: 0;
        height: 75px;
        background: #f5f5f5;
    }

    .text h1{
        margin-top: 10px;
        background: #f5f5f5;
    }

    .contenedor-body{
        padding-left: 0;
        padding-right: 0;
    }
    .sector-contenido{
        height: 100%;
        background: #28284e;
    }

    .sector-contenido .spn-ext{
        color: white;
        padding-left: 47%;
    }

    .sector-contenido .seccion-code{
        padding: 0;
        color: white;
    }

    .sector-contenido .btn-plantilla-html{
        margin-left: 10%;
    }

    .sector-contenido .seccion-code > div > h3{
        padding-left: 10%;
    }

    .sector-contenido .seccion-resultado{
        padding: 0;
        padding-top: 5%;
        padding-bottom: 5%;
    }

    .sector-contenido .seccion-resultado span{
        padding-left: 47%;
    }

    .sector-contenido .resultado{
        background: white;
        border: blueviolet 1px solid;
        width: 100%;
        padding-left: 1%;
        box-sizing: border-box;
    }
}