*{
    margin: 0;
    padding: 0;
    font-family: "montserrat", sans-serif;
}

.sector-contenido .display-4{
    margin-top: 0;
    margin-bottom: 13%;
    border-right: 2px solid white;
}

.sector-contenido .info-1{
    margin-top: 3%;
}

.sector-contenido .img-jumbotron{
    width: 150px;
    height: 150px;
}

.sector-contenido .img-logo{
    width: 100px;
    height: 100px;
}

.variacion-carousel{
    background: #391875;
    color: white;
    padding: 20px;
}

.variacion-carousel #myCarousel{
    transform: translate(50%);
    margin-left: 0;
}

.variacion-texto{
    background: #28284e;
    color: white;
    text-align: center;
}

.variacion-texto h2, h5{
    margin-top: 0;
    margin-bottom: 0;
    padding: 20px;
}

.variacion-texto h5{
    padding-top: 0;
    padding-bottom: 0; 
}

.variacion-1{
    width: 100%;
    background: #28284e;
    padding: 0 10% 0 10%;
    text-align: center;
}

.variacion-2{
    width: 100%;
    margin: 0;
    padding-top: 2% !important;
    padding-bottom: 5% !important;
    background: #391875;
    padding: 30px;
    color: black;
    text-align: center;
}

.variacion-2 h1{
    color: white;
    margin: 2% 0 2% 0;
}

.variacion-2 a{
    position: relative;
    margin: 2% 0 2% 0;
}

.landing-page{
    width: 100%;
    height: 100vh;
    margin-top: 80px;
}

.landing-page::after{
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}

.page-content{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    width: 100%;
    max-width: 800px;
    text-align: center;
    padding: 0 40px;
    box-sizing: border-box;
}

.page-content h1{
    color: white;
    text-transform: uppercase;
    font-size: 50px;
    font-weight: 900;
    margin-bottom: 20px;
}

.page-content p{
    color: white;
    margin-bottom: 20px;
    font-size: 25px;
}

.tabla-precios{
    max-width: 1200px;
    margin: auto;
    display: flex;
    justify-content: center;
    text-align: center;
    flex-wrap: wrap;
}

.col{
    flex: 25%;
    padding: 10px;
    max-width: 320px;
    box-sizing: border-box;
    margin: 0 2%;
}

.table{
    background: white;
    padding: 40px 20px;
    position: relative;
    overflow: hidden;
    box-shadow: 0 0 10px #00000070;
}

.table h2{
    text-transform: uppercase;
}

.table ul{
    margin: 0;
    padding: 0;
}

.table ul li{
    padding: 10px 0;
    list-style: none;
}

.price{
    font-size: 40px;
    margin-bottom: 20px;
}

.price span{
    display: block;
    font-size: 14px;
}

.table a{
    text-decoration: none;
    color: blueviolet;
    border: 2px solid black;
    display: block;
    padding: 10px 0;
    margin: 10px 0;
    border-radius: 40px;
    text-transform: uppercase;
    font-size: 14px;
    transition: 0.5s linear;
}

.table a:hover{
    background: blueviolet;
    color: white;
}

.pop{
    background: blueviolet;
    color: white;
    transform: rotate(45deg);
    padding: 10px 40px;
    position: absolute;
    top: 14px;
    right: -34px;
}

.btn-login{
    border: 1px solid white;
    background: white;
    padding: 10px 20px;
    font-size: 20px;
    cursor: pointer;
    margin: 10px;
    transition: 0.8s;
    position: relative;
    overflow: hidden;
    color: #391875;
    z-index: 9999;
    float: right;
    text-transform: uppercase;
}

.btn-login:hover{
    color: white;
    text-decoration: none;
}

.btn-login::before{
    content: "";
    position: absolute;
    left: 0;
    width: 100%;
    height: 0%;
    background: #391875;
    transition: 0.6s;
    top: 0;
    border-radius: 0 0 50% 50%;
}

.btn-login:hover::before{
    height: 150%;
    z-index: -1;
}

.btn-ir-registro{
    border: 1px solid white;
    background: white;
    padding: 10px 20px;
    font-size: 20px;
    cursor: pointer;
    margin: 10px;
    transition: 0.8s;
    position: relative;
    overflow: hidden;
    color: #391875;
    z-index: 999;
}

.btn-ir-registro:hover{
    color: white;
    text-decoration: none;
}

.btn-ir-registro::before{
    content: "";
    position: absolute;
    left: 0;
    width: 100%;
    height: 0%;
    background: #391875;
    transition: 0.6s;
    top: 0;
    border-radius: 0 0 50% 50%;
}

.btn-ir-registro:hover::before{
    height: 150%;
    z-index: -1;
}

body{
    padding-bottom: 0;
    background: #28284e;
}

.row, .container-fluid{
    margin: 0;
    padding: 0;
}

.red-social{
    text-decoration: none;
    color: #666;
}

.footer{
    bottom: 0; 
    width: 100%;
    background: #f0f0f0;
    box-sizing: border-box;
}

.menu-footer{    
    padding-top: 15px;
    box-shadow: 0 1px 1px 0 rgba(240,240,240,0.1) inset;
    font-size: 13px;
    color: #666;
    line-height: 1.8em;
    bottom: 0;
}

.menu-footer *{
    box-sizing: border-box;
}

.menu-footer .wrapper{
    position: relative;
    width: 94%;
    max-width: 1200px;
    padding-bottom: 10em;
    margin: 0 auto;
}

.menu-footer .links{
    width: 20%;
    float: left;
}

.menu-footer .redes-sociales{
    width: 80%;
    float: right;
}

.menu-footer .col{
    display: block;
    float: left;
}

#menu-grande{
    display: block;
}

#menu-pequeño{
    display: none;
}

@media only screen and (max-width: 980px){
    .col{
        flex: 50%;
    }
}

@media only screen and (max-width: 700px){
    .col{
        flex: 100%;
    }
}

@media only screen and (max-width: 800px){
    /*Estilos Navbar*/
    #menu-grande{
        display: none;
    }

    #menu-pequeño{
        display: block;
    }

    .control-menu{
        padding-top: 0;
        padding-left: 85%;
    }

    .control-menu img{
        width: 40px;
        height: 60px;
    }

    .items{
        padding: 0;
        margin: 0;
    }
    
    #navigation:target .nav-items{
        height: 158px;
        transition: height 0.4s ease-in-out 0s, background-color 0.9s ease 0s;
    }
    
    #navigation:target .open{
        display: none;
    }
    #navigation:target .close{
        display: block;
    }

    ul.nav-items{
        background: #41275a;
        list-style: none;
        clear: both;
        height: 0;
        overflow: hidden;
        transition: height 0.4s ease-in-out 0s, background-color 2s ease 0s;
    }

    ul.nav-item:hover{
        background: #7a26c9;
    }
    
    .close{
        display: none;
    }

    .variacion-carousel{
        display: none;
    }
}