#main-cont{
    text-align: center;
    padding-top: 60px;
}

table td, th{
    padding: 20px;
    text-align: center;
}

.variacion-carousel{
    background: blueviolet;
    color: white;
    padding: 20px;
}

.variacion-texto{
    background: #28284e;
    color: white;
}

.variacion-texto h2, h5{
    margin-top: 0;
    margin-bottom: 0;
    padding: 20px;
}

.variacion-1{
    background: #28284e;
    padding-left:250px;
}

.variacion-2{
    background: white;
    padding: 20px;
    color: black;
}

.jumbotron{
    margin-bottom: 0;
    background: #28284e;
    color: white;
}

.card{
    width: 180px;
    height: 350px;
    margin-top:20px;
    margin-left:90px;
    border: 1px solid #d4d3d3;
    border-top: 5px solid blueviolet;
    border-radius: 5px;
    margin-bottom: 20px;
    padding: 20px;
    padding-left: 10px;
    padding-right: 10px;
    background: white;
}

#card-gratuito button{
    margin-top: 38px;
}

#card-gratuito:hover{
    border: blue;
    border-top: 3px solid blueviolet;
    box-shadow: 0 0 40px blue;
}

#card-tier1 button{
    margin-top: 1px;
}

#card-tier1:hover{
    border: magenta;
    border-top: 3px solid blueviolet;
    box-shadow: 0 0 40px magenta;
}

#card-tier2 button{
    margin-top: 19px;
}

#card-tier2:hover{
    border: red;
    border-top: 3px solid blueviolet;
    box-shadow: 0 0 40px red;
}

.circle{
    width: 300px;
    height: 300px;
    border-radius: 100%;
    align-content: center;
    background: rgb(163, 104, 218);
}

.circle-text{
    padding-top: 130px;
}

#footer-cont{
    color: white;
    margin-bottom: 0;
}

body{
    padding-bottom: 0;
    background: #28284e;
}

.red-social{
    text-decoration: none;
    color: white;
}

ul.footer-menu{
    height: 25%;
}