body{
    margin: 0;
    padding: 0;
    background: #487EB0;
    font-family: "montserrat", sans-serif;
}

#login-div{
    width: 350px;
    padding: 40px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #121d2c;
    text-align: center;
}

#login-div h1{
    color: white;
    text-transform: uppercase;
    font-weight: 500;
}

#login-div h5{
    color: white;
}

#login-div input[type="text"], input[type="password"]{
    border: 0;
    background: none;
    display: block;
    margin: 20px auto;
    text-align: center;
    border: 2px solid rgb(46, 132, 245);
    padding: 14px 10px;
    width: 200px;
    outline: none;
    color: white;
    border-radius: 24px;
    transition: 0.25s;
}

#login-div input[type="text"]:hover, input[type="password"]:hover{
    width: 280px;
    border-color: blueviolet;
}

#login-div input[type="button"]{
    border: 0;
    background: none;
    display: block;
    width: 200px;
    margin: 20px auto;
    text-align: center;
    border: 2px solid white;
    padding: 14px 40px;
    outline: none;
    color: white;
    border-radius: 24px;
    transition: 0.5s;
    cursor: pointer;
}

#login-div input[type="button"]:hover{
    background: blueviolet;
}

#btn-registro{
    padding: 5px !important;
    width: 50% !important;
    margin-left: 25% !important;
}

#login-div a{
    text-decoration: none;
    color: white;
    font-size: 14px;
    padding: 10px;
    transition: 0.8s;
    display: block;
}

#login-div a:hover{
    background: rgba(0, 0, 0, 0.3)
}

footer{
    position: absolute; 
    bottom: 0; 
    width: 100%;
    background: #f0f0f0;
    box-sizing: border-box;
}

.menu-footer{    
    padding-top: 15px;
    box-shadow: 0 1px 1px 0 rgba(240,240,240,0.1) inset;
    font-size: 13px;
    color: #666;
    line-height: 1.8em;
    bottom: 0;
}

.menu-footer *{
    box-sizing: border-box;
}

.menu-footer .wrapper{
    position: relative;
    width: 94%;
    max-width: 1200px;
    padding-bottom: 10em;
    margin: 0 auto;
}

.menu-footer .links{
    width: 20%;
    float: left;
}

.menu-footer .redes-sociales{
    width: 80%;
    float: right
}

.menu-footer .col{
    display: block;
    float: left;
}

.is-invalid{
    border: 1px solid red !important;
}

.is-valid{
    border: 1px solid green !important;
}
