body{
    margin: 0;
    padding: 0;
    background: #487EB0;
    font-family: "montserrat", sans-serif;
}

.box{
    width: 532px;
    padding: 20px;
    text-align: center;
    background: #121d2c;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    overflow: hidden;
}

#registro-div{
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 0%);
    width: 80%;
}

#registro-div span.titulo{
    margin-top: 100px;
    color: white;
    font-size: 40px;
}

#registro-div input, #registro-div select, #registro-div textarea{
    display: block;
    width: 100%;
    padding: 0 16px;
    height: 44px;
    text-align: center;
    box-sizing: border-box;
    outline: none;
    border: none;
    transition: 0.8s
}

#registro-div textarea{
    padding-top: 10px;
}

#registro-div input:focus, #registro-div select:focus, #registro-div textarea:focus{
    background: white
}

#registro-div .txtb{
    margin: 20px 0;
    background: rgba(255,255,255,.5);
    border-radius: 6px;
}

#registro-div input[type="button"]{
    margin-top: 30px;
    margin-bottom: 20px;
    background: blueviolet;
    color: white;
    border-radius: 44px;
    cursor: pointer;
    transition: 0.8s; 
}

#registro-div input[type="button"]:hover{
    animation: boton 0.3s;
}

#registro-div a{
    text-decoration: none;
    color: white;
    font-size: 14px;
    padding: 10px;
    transition: 0.8s;
    display: block;
}

#registro-div a:hover{
    background: rgba(0, 0, 0, 0.3)
}

.is-invalid{
    border: 1px solid red !important;
}

.is-valid{
    border: 1px solid green !important;
}

#estado{
    transition: 0.5s;
}

@keyframes boton{
    0%{
        transform: scale(1);
    }
    33%{
        transform: scale(0.9);
    }
    66%{
        transform: scale(1.1);
    }
    100%{
        transform: scale(1);
    }
}