#barraNav{
    padding-left: 0;
    padding-right: 0;
    width: 100%;
}

.seccion-inferior{
    height: 100%;
    padding: 15px;
}

.contenedor-tarjeta{
    width: 26%;
}

.well{
    width: 100%;
    height: 50%;
    margin: 0;
}

.barra-menu{
    width: 17%;
    padding-right: 0;
    padding-left: 0;
}

.sector-contenido{
    width: 83%;
    margin: 0;
    padding-left: 0;
    padding-right: 0;
}

body{
    background: #28284e;
}

.portada{
    width: 100%;
}

.row, .container-fluid{
    margin: 0;
    padding: 0;
}