#barraNav{
    padding-left: 0;
    padding-right: 0;
    width: 150px;
}

.seccion-carpetas{
    height: 800px;
    background: #28284e;
}

.card-img{
    width:75px;
    height:75px;
}

.tarjeta-carpeta{
    width: 350px;
    background: white;
    border: 5px solid white;
    border-radius: 5px;
    padding: 10px;
}

.tarjeta-carpeta:hover{
    border-left: 5px solid #ff0000;
}

table td{
    padding: 10px;
    padding-left: 25px;
}

.a-tarjeta{
    color:black;
}

.a-tarjeta:hover{
    color:blueviolet;
}