body{
    background: #28284e;
}

.fas{
    padding-right: 6%; 
}

.secciones-menu{
    width: 100%;
}

.well{
    margin-top: 80px;
    padding: 0;
}

.portada{
    width: 100%;
    margin-top: 0;
}

.text{
    margin: 0;
    background: #f5f5f5;
    text-align: center;
    height: 80px;
}

.text h1{
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-30%, -50%)
}

.text span{
    float: right;
    margin-top: 10px;
}

.text select{
    display: block;
    width: 250px;
    padding: 6px 12px;
    font-size: 14px;
    color: #555;
    background-color: #e0dede;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-bottom: 10px;
}

.contenedor-body{
    padding-left: 0;
    padding-right: 0;
}

.sector-contenido{
    height: 100%;
    background: #28284e;
}

.sector-contenido .spn-ext{
    color: white;
    padding-left: 47%;
}

.sector-contenido .seccion-code{
    padding: 0;
    color: white;
}

.sector-contenido .btn-plantilla-html{
    margin-left: 5%;
}

.sector-contenido .seccion-resultado{
    padding: 0;
    padding-top: 5%;
    padding-bottom: 5%;
}

.sector-contenido .seccion-resultado span{
    padding-left: 47%;
}

.sector-contenido .resultado{
    background: white;
    border: blueviolet 1px solid;
    width: 100%;
    padding-left: 1%;
    box-sizing: border-box;
}

.sector-inferior, .row-contenido, .seccion-inferior, .row-resultado, .row-footer{
    padding: 0;
    margin: 0;
}

#menu-grande{
    display: block;
}

#menu-pequeño{
    display: none;
}

@media only screen and (max-width: 800px){

    #menu-grande{
        display: none;
    }

    #menu-pequeño{
        display: block;
    }

    .control-menu{
        padding-top: 0;
        padding-left: 85%;
    }

    .control-menu img{
        width: 40px;
        height: 60px;
    }

    .items{
        padding: 0;
        margin: 0;
    }
    
    #navigation:target .nav-items{
        height: 158px;
        transition: height 0.4s ease-in-out 0s, background-color 0.9s ease 0s;
    }
    
    #navigation:target .open{
        display: none;
    }
    #navigation:target .close{
        display: block;
    }

    ul.nav-items{
        background: #41275a;
        list-style: none;
        clear: both;
        height: 0;
        overflow: hidden;
        transition: height 0.4s ease-in-out 0s, background-color 2s ease 0s;
    }

    ul.nav-item:hover{
        background: #7a26c9;
    }
    
    .close{
        display: none;
    }

    .perfil-usr{
        padding-left: 3%;
        padding-top: 3%;
    }

    .profile-userpic{ 
        width: 100%;
    }

    .secciones-menu{
        width: 100%;
    }

    .well{
        height: 5%;
        padding: 0;
        margin-top: 80px;
    }

    .portada{
        width: 100%;
        margin-top: 0;
    }

    .text{
        margin-top: 0;
        height: 75px;
        background: #f5f5f5;
    }

    .text h1{
        margin-top: 10px;
        background: #f5f5f5;
    }

    .contenedor-body{
        padding-left: 0;
        padding-right: 0;
    }
    .sector-contenido{
        height: 100%;
        background: #28284e;
    }

    .sector-contenido .spn-ext{
        color: white;
        padding-left: 47%;
    }

    .sector-contenido .seccion-code{
        padding: 0;
        color: white;
    }

    .sector-contenido .btn-plantilla-html{
        margin-left: 10%;
    }

    .sector-contenido .seccion-code > div > h3{
        padding-left: 10%;
    }

    .sector-contenido .seccion-resultado{
        padding: 0;
        padding-top: 5%;
        padding-bottom: 5%;
    }

    .sector-contenido .seccion-resultado span{
        padding-left: 47%;
    }

    .sector-contenido .resultado{
        background: white;
        border: blueviolet 1px solid;
        width: 100%;
        padding-left: 1%;
        box-sizing: border-box;
    }

    .sector-inferior, .row-contenido, .seccion-inferior, .row-resultado, .row-footer{
        padding: 0;
        margin: 0;
    }

    body{
        background: #28284e;
    }
}