.navbar{
  position: fixed;
  height: 80px;
  overflow: hidden;
  top: 0;
  display: flex;
  align-items: center;
  background: blueviolet;
  width: 100%;
  z-index: 999;
  border: 0;
  border-radius: 0;
}

.well{
  border: 0;
  border-radius: 0;
}

.logo-navbar{
  background: url("../img/logo-texto.png") no-repeat 50%;
  background-size: cover;
  width: 200px;
  height: 70px;
  float: left;
  margin-left: 20px;
}

.menu-navbar{
  position: absolute;
  right: 20px;
}

.menu-navbar a{
  color: white;
  text-decoration: none;
  font-size: 20px;
  font-weight: 700;
  margin-left: 20px;
  transition: 0.7s;
}

.btn-navbar{
  display: none;
  position: absolute;
  right: 20px;
}

.btn-navbar span{
  display: block;
  margin: 6px;
  width: 40px;
  height: 3px;
  background: white;
}

.btn-navbar:hover > span{
  background: #333;
}

@media only screen and (max-width: 1300px){
  .navbar{
    overflow: visible;
  }

  .menu-navbar{
    width: 100%;
    right: 0;
    top: 80px;
    background: #381c52;
    overflow: hidden;
    max-height: 0;
    transition: 0.8s;
  }

  .menu-navbar a{
    display: block;
    text-align: center;
    padding: 10px;
    margin: 0;
  }

  .menu-navbar a:hover{
    background: #6b359e;
  }

  .btn-navbar{
    display: block;
    cursor: pointer;
  }

  .show{
    max-height: 500px;
  }
}