body{
    font-family: "monserrat", sans-serif;
    background: #49498f;
}

.seccion-inferior{
    height: 100%;
    padding: 15px;
    margin-top: 1%;
    padding: 0 1%;
}

.well{
    width: 100%;
    height: 50%;
    margin: 0;
}

.barra-menu{
    width: 100%;
    padding-right: 0;
    padding-left: 0;
}

.sector-contenido{
    width: 100%;
    margin: 0;
    padding-left: 0;
    padding-right: 0;
}

.seccion-perfil{
    color:white;
    padding: 1% 3%;
}

.seccion-perfil input, .seccion-perfil select{
    width: 80%;
}

.seccion-perfil span{
    font-size: 20px;
    font-weight: bold;
    padding-left: 3%;
}

.seccion-perfil #spn-tipo-usuario{
    float: left;
}

.seccion-perfil #btn-cambiar-plan{
    margin-left: 15px;
}

.box-resultado{
    text-align: center;
    width: 30%;
    padding: 20px;
}

#status{
    color: white;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    margin-left: 5%;
    font-size: 20px;
}

#status-pago{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 20px;
    text-align: center;
}

#foto-perfil{
    width:180px;
    height:180px;
    background: #f1f1f1;
}

.portada{
    width: 100%;
}

.row, .container-fluid{
    margin: 0;
    padding: 0;
}

.btn-primary{
    background: blueviolet;
    border: none;
    transition: 0.4s;
}

.btn-primary:hover{
    background: #49498f;
}