.seccion-inferior{
    height: 100%;
    padding: 15px;
    margin-top: 1%;
    padding: 0 1%;
}

.well{
    width: 100%;
    height: 50%;
    margin: 0;
}

.barra-menu{
    width: 100%;
    padding-right: 0;
    padding-left: 0;
}

.sector-contenido{
    width: 100%;
    margin: 0;
    padding-left: 0;
    padding-right: 0;
}

body{
    background: #28284e;
}

.portada{
    width: 100%;
    padding: 10px;
}

.row, .container-fluid{
    margin: 0;
    padding: 0;
}

#status{
    text-align: center;
    padding: 10px;
}

.btn-agregar{
    padding: 5px 15px;
    font-size: 30px;
    float: right;
    background: blueviolet;
    border: none;
    border-radius: 10px;
    color: white;
    margin: 0 5px;
    margin-top: 1%;
}

.rebotar{
    animation: rebote 0.3s;
}

@keyframes rebote{
    0%{
        transform: scale(1);
    }
    33%{
        transform: scale(0.7);
    }
    66%{
        transform: scale(1.1);
    }
    100%{
        transform: scale(1);
    }
}